@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row justify-content-center">

    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger", id = "messageHead" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "small mb-1" })
                        @*<label class="small mb-1" for="inputEmailAddress">Email</label>*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control py-4", placeholder = "Enter email address" })

                        @*<input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />*@
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "small mb-1" })
                                @*<label class="small mb-1" for="inputPassword">Password</label>*@
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control py-4", placeholder = "Enter password" })

                                @*<input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "small mb-1" })

                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control py-4", type = "password", placeholder = "Confirm password" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <input type="submit" class="btn btn-primary btn-block" value="Create Account" />
                    </div>
                }
            </div>
            <div class="card-footer text-center">
                <div class="small">
                    @Html.ActionLink("Have an account? Go to login", "Login", "Account")
                </div>
            </div>
        </div>
    </div>
</div>
@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
